*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#F5F7FB;
color:#1F2937;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
padding:20px 80px;
align-items:center;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:#1F2937;
text-decoration:none;
font-weight:500;
}

.navbar a:hover{
color:#2563EB;
}

/* BUTTON */

.join-btn{
background:#2563EB;
border:none;
padding:10px 22px;
border-radius:6px;
color:white;
cursor:pointer;
transition:0.3s;
}

.join-btn:hover{
background:#06B6D4;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
min-height:90vh;
background:linear-gradient(135deg,#2563EB,#06B6D4);
color:white;
}

.hero-left h1{
font-size:60px;
margin:20px 0;
}

.hero-left p{
color:#E5E7EB;
}

/* BADGE */

.badge span{
padding:6px 12px;
background:white;
color:#2563EB;
border-radius:20px;
font-size:12px;
font-weight:600;
}

.orange{
background:#06B6D4 !important;
color:white !important;
}

.hero-img{
height:420px;
}

/* SECTIONS */

.section{
padding:80px;
text-align:center;
}

.dark{
background:#EEF2FF;
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
margin-top:40px;
}

/* BOX */

.box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
transition:0.3s;
}

.box:hover{
transform:translateY(-5px);
}

/* TRAINERS */

.trainer img{
width:120px;
border-radius:50%;
margin-bottom:10px;
}

.trainer{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

/* PRICING */

.price{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.popular{
border:2px solid #2563EB;
}

.price button{
margin-top:10px;
background:#2563EB;
border:none;
padding:10px 20px;
color:white;
border-radius:6px;
cursor:pointer;
}

.price button:hover{
background:#06B6D4;
}

/* BMI */

.bmi input{
padding:10px;
margin:10px;
border:1px solid #D1D5DB;
border-radius:6px;
}

/* FORM */

form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
gap:10px;
}

form input, textarea{
padding:10px;
border:1px solid #D1D5DB;
border-radius:6px;
}

form button{
background:#2563EB;
border:none;
padding:10px;
color:white;
border-radius:6px;
cursor:pointer;
}

form button:hover{
background:#06B6D4;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:white;
margin-top:40px;
color:#6B7280;
border-top:1px solid #E5E7EB;
}